# web scraping packages
requests
cloudscraper
bs4
lxml
junit-xml

# data analysis packages
pandas
pandas-datareader
mplfinance
scipy

# data source packages
fredapi
finviz
yfinance
investpy
yahooquery
