# web scraping packages
requests
wget
cloudscraper
bs4
lxml
junit-xml
html5lib

# data analysis packages
pandas
pandas-datareader
mplfinance
scipy

# data source packages
fredapi
finviz
yfinance
investpy
yahooquery
